doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title Misha Kletsko portfolio
      meta(name="description", content="")
      meta(name="autor", content="")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="css/style.css")
      link(rel="icon", type="img/png", href="img/favicon.png")

   body

      //slider
      div.slider
         ul.my-slider
            li*4


      section.content
         p loremWhen in doubt, try all these commands, as I do:
         p npm config set registry http://registry.npmjs.org/
         p npm config set proxy http://MKletsko:Dynamo1927@proxy.imb.local:3128
         p npm config set https-proxy http://MKletsko:Dynamo1927@proxy.imb.local:3128
         p npm config set strict-ssl false
         p set HTTPS_PROXY=http://MKletsko:Dynamo1927@proxy.imb.local:3128
         p set HTTP_PROXY=http://MKletsko:Dynamo1927@proxy.imb.local:3128

         p export HTTPS_PROXY=http://myusername:mypassword@proxy.us.somecompany:8080
         p export HTTP_PROXY=http://myusername:mypassword@proxy.us.somecompany:8080
         p export http_proxy=http://myusername:mypassword@proxy.us.somecompany:8080
         p npm --proxy http://myusername:mypassword@proxy.us.somecompany:8080

         p When in doubt, try all these commands, as I do:

         p npm config set registry http://registry.npmjs.org/
         p npm config set proxy http://MKletsko:Dynamo1927@proxy.imb.local:3128
         p npm config set https-proxy http://MKletsko:Dynamo1927@proxy.imb.local:3128
         p npm config set strict-ssl false
         p set HTTPS_PROXY=http://MKletsko:Dynamo1927@proxy.imb.local:3128
         p set HTTP_PROXY=http://MKletsko:Dynamo1927@proxy.imb.local:3128

         p export HTTPS_PROXY=http://myusername:mypassword@proxy.us.somecompany:8080
         p export HTTP_PROXY=http://myusername:mypassword@proxy.us.somecompany:8080
         p export http_proxy=http://myusername:mypassword@proxy.us.somecompany:8080
         p npm --proxy http://myusername:mypassword@proxy.us.somecompany:8080

      script(href="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(href="main.js")